{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Analyze  {% endblock %}</h1>
    <hr>

    <form method='post' enctype="multipart/form-data">
		<label for="videoSelection">Select a video</label>
		<p>Currently supported : .mkv</p>
		<input type="file" name="videoSelection">
		<input type="submit" value="Upload">
	</form>

	{% if video_ready == True %}
	<br>
	<img src="{{ url_for('videoSentiment') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript>
	        $(function() {
	          $('a#test').on('click', function(e) {
	            e.preventDefault()
	            $.getJSON('/end_stream',
	                function(data) {
	              //do nothing
	            });
	            return false;
	          });
	        });
	</script>
	<br><br>
	<div class='container'>
	        <form>
	            <a href=# id=test><button class='btn btn-primary'>Stop stream</button></a>
	        </form>

	</div>
	{% endif %}


	<br>
	<hr>
	<br>
	<div>
    	<a href="{{ url_for('video_stream') }}">Use WebCam Instead</a>
    </div>


    
{% endblock %}