{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Twitter mentions test  {% endblock %}</h1>
    <hr>

    {% if no_new_tweet == True %}
    <div style="margin: 20px 0px; padding: 20px 0px; border-width: 10px 0px; border-radius: 10px; background-color: #eee; text-align: center;">
        <h1>No new status/mention to Analyze :( </h1>
    </div>
    {% endif %}


    {% for tweet in tweets %}
    {% set color = 'green' if tweet['sentiment'] == 'Positive' else 'red' %}
    <div class="row" style="margin: 10px 0px; padding: 10px 0px; border-width: 10px 0px; border-radius: 10px; background-color: #eee;">
    	<div class="col-sm-4" style="border-left: 5px solid {{color}}">
    		<h2> {{ tweet['screen_name'] }} said : </h2>
    		<p>{{ tweet['sentiment'] }}</p>
    	</div>
    	<div class="col-sm-8">
    		<p style="badge badge-primary">
    			{{ tweet['text'] }}
    		</p>
    	</div>
    </div>
	{% endfor %}

    
{% endblock %}